<footer class="md:container mx-auto">
    <p class="">
        Torneig d'escacs organitzat per Marcel W. 
    </p>
    <p class="">
        T'hi atreveixes?
    </p>
    <hr>
    <div class="flex justify-between">
        <p class="inline-block">&copy; ESCAC MAT</p>
        <nav class="inline-block">
            <ul class="">
                <li class="inline-block"><a href="index.html">Portada</a></li>
                <li class="inline-block"><a href="">Jugadors</a></li>
                <li class="inline-block"><a href="">Siciliana</a></li>
                <li class="inline-block"><a href="apuntat.html">Apunta't</a></li>
            </ul>
        </nav>
        <nav class="inline-block">
            <ul class="">
                <li class="inline-block"><a href=""><i class="fa-brands fa-google-plus-g">G</i></a></li>
                <li class="inline-block"><a href=""><i class="fa-brands fa-square-facebook">FB</i></a></li>
                <li class="inline-block"><a href=""><i class="fa-brands fa-twitter">TW</i></a></li>
            </ul>
        </nav>
    </div>
</footer>