<header class="container max-w-screen-md mx-auto mb-2">
    <div class="flex justify-between">
        <p class="inline-block">&copy; ESCAC MAT</p>
        <nav class="inline-block">
            <ul class="">
                <li class="inline-block pl-4"><a href="">Jugadors</a></li>
                <li class="inline-block pl-4"><a href="">Siciliana</a></li>
                <li class="inline-block pl-4"><a href="apuntat.html">Apunta't</a></li>
            </ul>
        </nav>
    </div>
</header>