<header class="container max-w-screen-lg mx-auto mb-2">
    <div class="sm:flex sm:justify-between text-center">
        <p class="sm:inline-block">&copy; ESCAC MAT</p>
        <nav class="sm:inline-block text-cyan-500 ">
            <ul class="">
                <li class="inline-block pl-4"><a href="">Jugadors</a></li>
                <li class="inline-block pl-4"><a href="">Siciliana</a></li>
                <li class="inline-block pl-4"><a href="apuntat.html">Apunta't</a></li>
            </ul>
        </nav>
    </div>
</header>